<section class="footer-top">

<div class="footer-container">

<div class="footer-links">

<div>
<a href="#">About Us</a>
<a href="#">Centres</a>
<a href="#">Learners</a>
<a href="#">Qualifications</a>
</div>

<div>
<a href="#">Contact Us</a>
<a href="#">Vacancies</a>
<a href="#">E-Learning</a>
<a href="#">Staff LMS</a>
</div>

</div>

<div class="footer-logo">
<img src="images/logo.png">
</div>

<div class="footer-contact">

<p>Phone: +44 1234 567890</p>

<p>Email: info@gouldingsglobalacademy.com</p>

<p>
Address: Gouldings Global Academy,<br>
London, United Kingdom
</p>

</div>

</div>

</section>


<section class="footer-bottom">


<div class="social-icons">

<a href="#"><i class="fab fa-facebook-f"></i></a>

<a href="#"><i class="fab fa-linkedin-in"></i></a>

<a href="#"><i class="fab fa-x-twitter"></i></a>

<a href="#"><i class="fab fa-instagram"></i></a>

</div>

<div class="footer-buttons">

<a href="#">Policies & Handbooks</a>
<a href="#">Whistleblowing</a>
<a href="#">General Feedback</a>

</div>

<div class="partner-badges">

<img src="images/logo1.png">

<img src="images/logo2.png">

</div>

<p class="copyright">

© 2026 Gouldings Global Academy.
All Rights Reserved.

</p>

</section>
