<header>

<div class="navbar">

    <div class="navbar-inner">

   <div class="logo">
    <img src="images/logo.png" class="logo-desktop" alt="Logo">
    <img src="images/logo-mobile.png" class="logo-mobile" alt="Logo">
</div>


<div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>

    <nav>

        <a href="index.html">Home</a>

       <div class="nav-item nav-item--has-submenu">
    <button class="nav-title" type="button" aria-expanded="false">
        <span>About</span>
        <i class="fas fa-chevron-down" aria-hidden="true"></i>
    </button>

    <div class="nav-submenu">
        <a href="components/About/TheGouldingsMission.html">
            The Gouldings Mission
        </a>

        <a href="components/About/fromtheceo&principal.html">
            From the CEO & Principal
        </a>

        <a href="components/About/fromourawardingorganisationicm.html">
            From our Awarding Organisation ICM
        </a>

        <a href="components/About/staff-profiles.html">
            Staff Profiles
        </a>

        <a href="components/About/staff-profiles(international team).html">
            Staff Profiles International Team
        </a>
    </div>
</div>


        <div class="nav-item nav-item--has-submenu">
            <button class="nav-title" type="button" aria-expanded="false">
                <span>Qualifications</span>
                <i class="fas fa-chevron-down" aria-hidden="true"></i>
            </button>

            <div class="nav-submenu">
                <a href="qualifications.html">About Our Qualifications</a>
                <a href="professional-qualifications.html">Professional Qualifications</a>
                 <a href="/Level-3-professional-Diploma-Course.html">Level 3 Diploma Course</a>
                 <a href="/Level-4-professional-Diploma-Course.html">Level 4 Diploma Course</a>
                  <a href="/Level-5-professional-Diploma-Course.html">Level 5 Diploma Course</a>



                
                <a href="relative-equivalencies.html">Relative Equivalencies</a>
                <a href="single-subjects.html">Single Subjects</a>
            </div>
        </div>

      

        <a href="framework-tool.html">
            Framework Tool
        </a>

        <a href="/student-portal/">
            Student Portal
        </a>

        <a href="news.html">
            News
        </a>

        <a href="contact.html">
            Contact
        </a>

        <a href="staff-lms/dashboard.html">
    Staff LMS
</a>

    </nav>

    </div>

</div>

</header>