<header>

<div class="navbar">

    <div class="navbar-inner">

    <div class="logo">
        <img
        src="images/logo.png"
        alt="Gouldings Global Academy">
    </div>

    <div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>

    <nav>

        <a href="index.html">Home</a>

        <a href="about.html">About</a>

        <div class="nav-item nav-item--has-submenu">
            <button class="nav-title" type="button" aria-expanded="false">
                <span>Qualifications</span>
                <i class="fas fa-chevron-down" aria-hidden="true"></i>
            </button>

            <div class="nav-submenu">
                <a href="qualifications.html">About Our Qualifications</a>
                <a href="professional-qualifications.html">Professional Qualifications</a>
                 <a href="Level 3 Diploma-Course.html">Level 3 Dpiloma Course</a>
                
                <a href="relative-equivalencies.html">Relative Equivalencies</a>
                <a href="single-subjects.html">Single Subjects</a>
            </div>
        </div>

      

        <a href="framework-tool.html">
            Framework Tool
        </a>

        <a href="/student-portal/">
            Student Portal
        </a>

        <a href="news.html">
            News
        </a>

        <a href="contact.html">
            Contact
        </a>

    </nav>

    </div>

</div>

</header>