*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;

    background:#f5f7fa;

}

.portal-login{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-box{

    width:430px;

    background:#fff;

    padding:50px;

    text-align:center;

    box-shadow:0 10px 40px rgba(0,0,0,.08);

}

.login-logo{

    width:100px;

    margin-bottom:25px;

}

.portal-logo {
    width: 180px;
    height: 55px;
    object-fit: contain;
}

.hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.login-box h1{

    font-size:42px;

    margin-bottom:15px;

}

.login-box p{

    margin-bottom:30px;

    color:#777;

}

.login-box input{

    width:100%;

    height:52px;

    margin-bottom:20px;

    padding:0 18px;

}

.login-box button{

    width:100%;

    height:52px;

    border:none;

    background:#294f67;

    color:white;

    cursor:pointer;

}

.header-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.portal-nav{
    display:flex;
    gap:35px;
}
