<footer class="portal-footer">

    <div class="container">

        <img
            src="./images/logo.png"
            class="footer-logo"
            alt="Gouldings Logo">

        <p>

            Gouldings Global Academy provides internationally recognised qualifications and learner support worldwide.

        </p>

        <div class="footer-links">

            <a href="../index.html">Main Website</a>

            <a href="#">Privacy Policy</a>

            <a href="#">Terms & Conditions</a>

            <a href="contact.html">Contact Us</a>

        </div>

        <p class="copyright">

            © 2026 Gouldings Global Academy.
            All Rights Reserved.

        </p>

    </div>

</footer>
